<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graphs</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Graphs</h1>
    <h2>Line Graph</h2>
    <img src="{{ graph }}" alt="Generated Graph" style="width:100%; max-width:600px;">
    <div class="bottom-links">
    <a href="/graph/age_group">Age Group Graph</a> <br>
    <a href="/menu">Back to Menu</a>
</div>
</body>
</html>
